		body,html,.wrap,.overlap{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
            background:black;
		}
        body{
    margin-top: -4px;}
video{
    height: 100%
}
		.wrap{
			/*background-image: url(grid.jpg);*/
			background-color: black;
			background-size: 20%
		}
		.elem, .hand,.face{
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    box-shadow: inset 0px 0px 0px 1px #0076ff;

}
.light1{
    position: absolute;
    width: 520px;
    height: 260px;
    background: radial-gradient(white, transparent 50%);
    z-index: 10;
    left: 180px;
    top: 254px;
}
.light2{
    position: absolute;
    width: 1430px;
    height: 260px;
    background: radial-gradient(#00edff 10%, transparent 50%);
    z-index: 0;
    left: 350px;
    top: 54px;
    filter: saturate(12.5);
    transform: rotate(-15deg)
}
.face,.hand{
    z-index: 1000
}
.overlap{
    background: linear-gradient(0deg, transparent 50%, #0090ff75 90%);
    z-index: 10000;
    mix-blend-mode: multiply;
pointer-events: none;}
		.elem{
            z-index: 1;
    margin-top: -1px;
    margin-left: 2px;
			background-size: 100px 100px
		}
        .elem_1,
        .elem_2,
        .elem_3,
        .elem_4,
        .elem_5,
        .elem_6,
        .elem_7,
        .elem_8,
        .elem_9,
        .elem_10,
        .elem_11,
        .elem_12,
        .elem_13,
        .elem_14,
        .elem_15,
        .elem_16,
        .elem_17,
        .elem_18,
        .elem_19,
        .elem_20,
        .elem_21,
        .elem_22,
        .elem_23,
        .elem_24,
        .elem_25,
        .elem_26,
        .elem_27,
        .elem_28,
        .elem_29,
        .elem_30,
        .elem_31,
        .elem_32,
        .elem_33,
        .elem_34,
        .elem_35,
        .elem_36,
        .elem_37,
        .elem_38{
            margin-top: 0px  !important;
            margin-left: 0px  !important
        }
		.n{
			background-color: limegreen
		}
		.elem_1{
    left: 883px;
    width: 19px;
    top: 8px;
    height: 10px;}
		.elem_2{
    left: 929px;
    width: 38px;
    top: 6px;
    height: 10px;}
		.elem_3{
    left: 994px;
    width: 9px;
    top: 0px;
    height: 32px;}
		.elem_4{    
	left: 915px;
    width: 10px;
    top: 39px;
    height: 21px;}
		.elem_5{  
    left: 932px;
    width: 10px;
    top: 38px;
    height: 13px;}
		.elem_6{ 
    left: 968px;
    width: 10px;
    top: 31px;
    height: 9px;}
		.elem_7{ 
    left: 942px;
    width: 10px;
    top: 26px;
    height: 40px;}
		.elem_8{ 
    left: 986px;
    width: 9px;
    top: 22px;
    height: 39px;}
		.elem_9{ 
    left: 997px;
    width: 12px;
    top: 33px;
    height: 13px}
		.elem_10{ 
    left: 873px;
    width: 15px;
    top: 88px;
    height: 14px;}
		.elem_11{
    left: 890px;
    width: 13px;
    top: 103px;
    height: 14px;}
		.elem_12{
    left: 941px;
    width: 19px;
    top: 71px;
    height: 14px;}
		.elem_13{    
	left: 934px;
    width: 39px;
    top: 100px;
    height: 10px;}
		.elem_14{
    left: 1006px;
    width: 9px;
    top: 77px;
    height: 9px;}
		.elem_15{
    left: 1045px;
    width: 10px;
    top: 112px;
    height: 42px;}
		.elem_16{
    left: 1056px;
    width: 10px;
    top: 147px;
    height: 20px;}
		.elem_17{
    left: 1073px;
    width: 8px;
    top: 111px;
    height: 13px;}
		.elem_18{
    left: 1084px;
    width: 13px;
    top: 157px;
    height: 9px;}
		.elem_19{
    left: 1092px;
    width: 11px;
    top: 188px;
    height: 22px}
		.elem_20{
    left: 1050px;
    width: 11px;
    top: 189px;
    height: 12px;}
		.elem_21{
    left: 1044px;
    width: 11px;
    top: 162px;
    height: 11px;}
		.elem_22{
    left: 1013px;
    width: 11px;
    top: 179px;
    height: 21px;}
		.elem_23{
    left: 965px;
    width: 40px;
    top: 189px;
    height: 10px;}
		.elem_24{
    left: 976px;
    width: 13px;
    top: 218px;
    height: 10px;}
		.elem_25{
    left: 991px;
    width: 14px;
    top: 219px;
    height: 15px;}
		.elem_26{
    left: 1058px;
    width: 11px;
    top: 232px;
    height: 15px;}
		.elem_27{    
	left: 1065px;
    width: 11px;
    top: 261px;
    height: 22px;}
		.elem_28{ 
    left: 1078px;
    width: 8px;
    top: 266px;
    height: 16px;}
		.elem_29{ 
    left: 990px;
    width: 10px;
    top: 258px;
    height: 21px;}
		.elem_30{ 
    left: 1019px;
    width: 10px;
    top: 258px;
    height: 21px;}
		.elem_31{ 
    left: 982px;
    width: 21px;
    top: 296px;
    height: 11px;}
		.elem_32{ 
    left: 1004px;
    width: 11px;
    top: 286px;
    height: 11px;}
		.elem_33{ 
    left: 1021px;
    width: 14px;
    top: 284px;
    height: 14px;}
		.elem_34{ 
    left: 1015px;
    width: 14px;
    top: 300px;
    height: 14px;}
		.elem_35{
    left: 1058px;
    width: 12px;
    top: 309px;
    height: 12px;}
		.elem_36{
    left: 1102px;
    width: 15px;
    top: 304px;
    height: 16px;}
		.elem_37{
    left: 986px;
    width: 12px;
    top: 337px;
    height: 12px;}
		.elem_38{
    left: 1000px;
    width: 12px;
    top: 327px;
    height: 45px;}
		.elem_39{
    left: 1030px;
    width: 15px;
    top: 344px;
    height: 16px;}
		.elem_40{
    left: 1082px;
    width: 11px;
    top: 355px;
    height: 12px;}
		.elem_41{
    left: 1102px;
    width: 11px;
    top: 346px;
    height: 23px}
		.elem_42{
    left: 961px;
    width: 11px;
    top: 343px;
    height: 23px;}
		.elem_43{
    left: 919px;
    width: 13px;
    top: 384px;
    height: 10px;}
		.elem_44{
    left: 939px;
    width: 10px;
    top: 390px;
    height: 13px}
		.elem_45{
    left: 972px;
    width: 43px;
    top: 381px;
    height: 13px;}
		.elem_46{
    left: 1067px;
    width: 13px;
    top: 381px;
    height: 13px;}
		.elem_47{
    left: 1058px;
    width: 22px;
    top: 395px;
    height: 13px;}
		.elem_48{
    left: 1039px;
    width: 11px;
    top: 433px;
    height: 49px;}
		.elem_49{
    left: 1054px;
    width: 11px;
    top: 451px;
    height: 13px;}
		.elem_50{
    left: 1083px;
    width: 11px;
    top: 450px;
    height: 13px;}
		.elem_51{
    left: 1122px;
    width: 12px;
    top: 450px;
    height: 12px;}
		.elem_52{
    left: 913px;
    width: 9px;
    top: 418px;
    height: 17px;}
		.elem_53{
    left: 930px;
    width: 11px;
    top: 434px;
    height: 24px;}
		.elem_54{
    left: 913px;
    width: 22px;
    top: 477px;
    height: 11px;}
		.elem_55{
    left: 936px;
    width: 16px;
    top: 479px;
    height: 16px;}
		.elem_56{
    left: 961px;
    width: 16px;
    top: 454px;
    height: 16px;}
		.elem_57{
    left: 966px;
    width: 16px;
    top: 471px;
    height: 16px;}
		.elem_58{
    left: 983px;
    width: 47px;
    top: 494px;
    height: 12px;}
		.elem_59{
    left: 1047px;
    width: 12px;
    top: 484px;
    height: 12px;}
		.elem_60{
    left: 1070px;
    width: 12px;
    top: 482px;
    height: 48px;}
		.elem_61{
    left: 1098px;
    width: 12px;
    top: 499px;
    height: 13px;}
		.elem_62{
    left: 1110px;
    width: 12px;
    top: 481px;
    height: 48px;}
        .elem_63{
    left: 1123px;
    width: 12px;
    top: 498px;
    height: 12px;}
		.elem_64{
    left: 922px;
    width: 17px;
    top: 535px;
    height: 17px;}
        .elem_65{
    left: 954px;
    width: 15px;
    top: 535px;
    height: 16px;}
        .elem_66{
    left: 998px;
    width: 15px;
    top: 521px;
    height: 15px;}
        .elem_67{
    left: 1016px;
    width: 17px;
    top: 549px;
    height: 17px;}
        .elem_68{
    left: 1043px;
    width: 15px;
    top: 508px;
    height: 16px}
        .elem_69{    
    left: 1058px;
    width: 12px;
    top: 551px;
    height: 25px;}
        .elem_70{
    left: 890px;
    width: 16px;
    top: 540px;
    height: 16px;}
        .elem_71{
    left: 926px;
    width: 13px;
    top: 564px;
    height: 12px;}
        .elem_72{
    left: 1007px;
    width: 24px;
    top: 584px;
    height: 12px;}
        .elem_73{
    left: 1041px;
    width: 12px;
    top: 586px;
    height: 49px;}
        .elem_74{
    left: 809px;
    width: 10px;
    top: 567px;
    height: 12px}
        .elem_75{
    left: 820px;
    width: 14px;
    top: 561px;
    height: 12px;}
        .elem_76{
    left: 846px;
    width: 14px;
    top: 554px;
    height: 10px;}
        .elem_77{
    left: 862px;
    width: 15px;
    top: 561px;
    height: 15px;}
        .elem_78{
    left: 923px;
    width: 15px;
    top: 577px;
    height: 11px;}
        .elem_79{
    left: 941px;
    width: 12px;
    top: 583px;
    height: 12px;}
        .elem_80{
    left: 972px;
    width: 12px;
    top: 574px;
    height: 12px;}
        .elem_81{
    left: 992px;
    width: 48px;
    top: 598px;
    height: 12px;}
        .elem_82{
    left: 779px;
    width: 12px;
    top: 605px;
    height: 11px}
        .elem_83{
    left: 818px;
    width: 10px;
    top: 610px;
    height: 14px;}
        .elem_84{
    left: 841px;
    width: 23px;
    top: 632px;
    height: 12px;}
        .elem_85{
    left: 857px;
    width: 16px;
    top: 609px;
    height: 17px;}
        .elem_86{
    left: 897px;
    width: 12px;
    top: 596px;
    height: 48px;}
        .elem_87{
    left: 910px;
    width: 12px;
    top: 613px;
    height: 23px;}
        .elem_88{
    left: 938px;
    width: 12px;
    top: 620px;
    height: 50px;}
        .elem_89{
    left: 952px;
    width: 16px;
    top: 638px;
    height: 17px;}
        .elem_90{
    left: 972px;
    width: 12px;
    top: 628px;
    height: 24px;}
        .elem_91{
    left: 986px;
    width: 16px;
    top: 637px;
    height: 17px;}
        .elem_92{    
    left: 1024px;
    width: 13px;
    top: 644px;
    height: 52px;}
        .elem_93{ 
    left: 1039px;
    width: 16px;
    top: 657px;
    height: 18px}
        .elem_94{
    left: 1068px;
    width: 16px;
    top: 657px;
    height: 18px;}
        .elem_95{
    left: 1103px;
    width: 17px;
    top: 684px;
    height: 19px;}
        .elem_96{
    left: 1125px;
    width: 13px;
    top: 683px;
    height: 53px;}
        .elem_97{
    left: 742px;
    width: 11px;
    top: 668px;
    height: 12px;}
        .elem_98{
    left: 760px;
    width: 46px;
    top: 661px;
    height: 11px}
        .elem_99{
    left: 822px;
    width: 12px;
    top: 658px;
    height: 23px;}
        .elem_100{
    left: 844px;
    width: 11px;
    top: 693px;
    height: 23px;}
        .elem_101{
    left: 857px;
    width: 12px;
    top: 646px;
    height: 48px;}
        .elem_101{
    left: 857px;
    width: 12px;
    top: 646px;
    height: 48px;}
        .elem_102{
    left: 870px;
    width: 16px;
    top: 659px;
    height: 17px;}
        .elem_103{
    left: 870px;
    width: 12px;
    top: 683px;
    height: 25px;}
        .elem_104{    
    left: 890px;
    width: 12px;
    top: 692px;
    height: 25px;}
        .elem_105{ 
    left: 926px;
    width: 48px;
    top: 676px;
    height: 12px;}
        .elem_106{ 
    left: 998px;
    width: 51px;
    top: 698px;
    height: 14px;}
        .elem_107{ 
    left: 964px;
    width: 12px;
    top: 689px;
    height: 12px;}
        .elem_108{ 
    left: 943px;
    width: 13px;
    top: 731px;
    height: 52px;}
        .elem_109{ 
    left: 957px;
    width: 12px;
    top: 749px;
    height: 14px;}
        .elem_110{ 
    left: 979px;
    width: 12px;
    top: 748px;
    height: 25px;}
        .elem_111{ 
    left: 1008px;
    width: 19px;
    top: 741px;
    height: 14px;}
        .elem_112{
    left: 1033px;
    width: 13px;
    top: 771px;
    height: 27px;}
        .elem_113{
    left: 1035px;
    width: 13px;
    top: 714px;
    height: 27px;}
        .elem_114{
    left: 1049px;
    width: 16px;
    top: 715px;
    height: 17px;}
        .elem_115{
    left: 1048px;
    width: 13px;
    top: 762px;
    height: 53px;}

        .elem_116{
    left: 1074px;
    width: 26px;
    top: 772px;
    height: 14px;}
        .elem_117{
    left: 694px;
    width: 23px;
    top: 710px;
    height: 11px;}
        .elem_118{    
    left: 743px;
    width: 11px;
    top: 707px;
    height: 23px;}
        .elem_119{ 
    left: 757px;
    width: 9px;
    top: 712px;
    height: 14px}
        .elem_120{ 
    left: 774px;
    width: 15px;
    top: 702px;
    height: 11px;}
        .elem_121{ 
    left: 784px;
    width: 9px;
    top: 714px;
    height: 15px}
        .elem_122{ 
    left: 804px;
    width: 10px;
    top: 712px;
    height: 15px}
        .elem_123{ 
    left: 816px;
    width: 10px;
    top: 714px;
    height: 15px;}
        .elem_124{ 
    left: 822px;
    width: 47px;
    top: 731px;
    height: 13px}
        .elem_125{ 
    left: 870px;
    width: 12px;
    top: 733px;
    height: 23px;}
        .elem_126{
    left: 898px;
    width: 12px;
    top: 735px;
    height: 13px}
        .elem_127{    
    left: 926px;
    width: 25px;
    top: 796px;
    height: 12px;}
        .elem_128{ 
    left: 952px;
    width: 13px;
    top: 793px;
    height: 26px;}
        .elem_129{ 
    left: 986px;
    width: 23px;
    top: 795px;
    height: 13px;}
        .elem_130{     
    left: 1006px;
    width: 51px;
    top: 829px;
    height: 13px;}
        .elem_131{ 
    left: 651px;
    width: 13px;
    top: 842px;
    height: 14px;}
        .elem_132{
    left: 707px;
    width: 16px;
    top: 773px;
    height: 16px;}
        .elem_133{    
    left: 723px;
    width: 13px;
    top: 759px;
    height: 48px;}
        .elem_134{ 
    left: 745px;
    width: 13px;
    top: 768px;
    height: 12px;}
        .elem_135{ 
    left: 764px;
    width: 17px;
    top: 776px;
    height: 16px}
        .elem_136{    
    left: 783px;
    width: 10px;
    top: 775px;
    height: 15px;}
        .elem_137{    
        left: 809px;
    width: 12px;
    top: 766px;
    height: 23px;}
        .elem_138{ 
    left: 822px;
    width: 13px;
    top: 768px;
    height: 12px;}
        .elem_139{
    left: 848px;
    width: 15px;
    top: 761px;
    height: 17px;}
        .elem_140{
    left: 863px;
    width: 17px;
    top: 838px;
    height: 18px;}
        .elem_141{
    left: 885px;
    width: 13px;
    top: 804px;
    height: 53px}
        .elem_142{
    left: 899px;
    width: 11px;
    top: 833px;
    height: 16px;}
        .elem_143{    
    left: 929px;
    width: 13px;
    top: 826px;
    height: 26px;}
        .elem_144{
    left: 959px;
    width: 18px;
    top: 873px;
    height: 18px;}
        .elem_145{
    left: 985px;
    width: 13px;
    top: 850px;
    height: 54px;}
        .elem_146{
    left: 619px;
    width: 13px;
    top: 879px;
    height: 50px;}
        .elem_147{
    left: 640px;
    width: 51px;
    top: 888px;
    height: 13px;}
        .elem_148{
    left: 707px;
    width: 13px;
    top: 816px;
    height: 24px;}
        .elem_149{
    left: 742px;
    width: 16px;
    top: 805px;
    height: 16px;}
        .elem_150{
    left: 772px;
    width: 16px;
    top: 813px;
    height: 16px;}
        .elem_151{
    left: 823px;
    width: 12px;
    top: 815px;
    height: 12px;}
        .elem_152{
    left: 855px;
    width: 17px;
    top: 875px;
    height: 12px;}
        .elem_153{
    left: 873px;
    width: 12px;
    top: 872px;
    height: 52px;}
        .elem_154{    
    left: 887px;
    width: 50px;
    top: 881px;
    height: 14px;}
        .elem_155{ 
    left: 922px;
    width: 52px;
    top: 919px;
    height: 13px;}
        .elem_156{
    left: 656px;
    width: 16px;
    top: 916px;
    height: 12px;}
        .elem_157{
    left: 653px;
    width: 18px;
    top: 1007px;
    height: 19px;}
        .elem_158{
    left: 704px;
    width: 13px;
    top: 933px;
    height: 54px;}
        .elem_159{
    left: 720px;
    width: 12px;
    top: 895px;
    height: 52px;}
        .elem_160{
    left: 738px;
    width: 11px;
    top: 881px;
    height: 24px;}
        .elem_161{
    left: 705px;
    width: 18px;
    top: 1010px;
    height: 20px}
        .elem_162{
    left: 726px;
    width: 13px;
    top: 1010px;
    height: 14px}
        .elem_163{
    left: 742px;
    width: 14px;
    top: 989px;
    height: 56px}
        .elem_164{
    left: 761px;
    width: 19px;
    top: 1100px;
    height: 20px}
        .elem_165{
    left: 773px;
    width: 19px;
    top: 1054px;
    height: 20px;}
        .elem_166{
    left: 795px;
    width: 14px;
    top: 1046px;
    height: 58px;}
        .elem_167{
    left: 807px;
    width: 13px;
    top: 889px;
    height: 52px;}
        .elem_168{
    left: 868px;
    width: 13px;
    top: 1049px;
    height: 15px;}
        .elem_169{
    left: 875px;
    width: 13px;
    top: 984px;
    height: 54px;}
        .elem_170{
    left: 902px;
    width: 12px;
    top: 924px;
    height: 54px;}
        .elem_171{    
    left: 621px;
    width: 18px;
    top: 1012px;
    height: 19px;}
        .elem_172 {
    left: 559px;
    width: 14px;
    top: 1155px;
    height: 22px;}
        .elem_173{
    left: 579px;
    width: 15px;
    top: 1139px;
    height: 59px;}
        .elem_174{
    left: 597px;
    width: 21px;
    top: 1156px;
    height: 22px;}
        .elem_175{
    left: 602px;
    width: 59px;
    top: 1098px;
    height: 15px;}
        .elem_176{
    left: 298px;
    width: 55px;
    top: 900px;
    height: 15px;}
        .elem_177{    
    left: 310px;
    width: 20px;
    top: 862px;
    height: 19px;}
        .elem_178{ 
    left: 324px;
    width: 14px;
    top: 819px;
    height: 15px;}
        .elem_179{
    left: 362px;
    width: 14px;
    top: 817px;
    height: 15px}
    .hand_1 {
    left: 835px;
    width: 136px;
    top: 258px;
    height: 140px;
    background-image: url(img_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 47%;
    box-shadow: none;
}
.hand_2 {
  left: 635px;
  width: 141px;
  top: 497px;
  height: 146px;
    background-image: url(img_2.png);
    background-repeat: no-repeat;
    background-size: 114%;
    background-position: -10% 51%;
    box-shadow: none;
    filter: saturate(0.95);
    background-color: black;
}

.hand_3{
  left: 429px;
  width: 81px;
  top: 570px;
  height: 83px;
    background-image: url(img_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 47%;
    box-shadow: none;}
    .face{
        background-color: black;
        box-shadow: 0px 0px 5px black !important;
        margin-top: -1px;
        margin-left: 0px;
  background-size: 85%;
    }
.face_1{
  left: 459px;
  width: 34px;
  top: 416px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center bottom;
  /*background-position: 0% 47%;*/
  box-shadow: none;
  transform: rotate(-52deg) skewY(-10deg) scale(0.95);
  filter: contrast(1.15) brightness(1.5);
  /*background-image: none !important;*/
  /*box-shadow: inset 0px 0px 0px 0.1px white;*/
  transform-origin: left top;}
.face_2 {
  left: 475px;
  width: 25px;
  top: 387px;
  height: 26px;
  /*background-image: none !important;*/
  background-repeat: no-repeat;
  background-position: center bottom;
  /*background-position: 0% 47%;*/
  box-shadow: none;
  transform: rotate(-55deg) skewY(-23deg) scale(0.95);
  filter: contrast(1.15) brightness(0.8);
  transform-origin: left top;
  z-index: 10000000
}
.face_3 {
  left: 437px;
  width: 36px;
  top: 441px;
  height: 26px;
  background-image: url(face.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  /*background-position: 0% 47%;*/
  box-shadow: none;
  transform: rotate(-50deg) skew(0deg, 4deg) scale(0.95);
  filter: contrast(1.15);
  /*background: red !important;*/
  transform-origin: left top;
}
.face_4 {
  left: 410px;
  width: 27px;
  top: 455px;
  height: 29px;
  background-image: url(face.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  /*background-position: 0% 47%;*/
  box-shadow: none;
  transform: rotate(-52deg) skew(0deg, 22deg) scale(0.95);
  filter: contrast(1.15) brightness(0.5);
  /*background: yellow !important;*/
  transform-origin: left top;
}
.ber{
    box-shadow: none !important;
    /*background-image: url(ber.webp) !important*/
}
.grad_1{
    filter: saturate(1.85) blur(1px) contrast(1.5);
    transform: scale(1.25);
    background-image: url(line2.png) !important;
    background-size: 100% 120% !important;
    background-repeat: repeat;
    box-shadow: none;
}
.grad_3{
    filter: saturate(1.85) blur(0px) contrast(1.5);
    transform: scale(1.25);
    background-image: url(line4.png) !important;
    background-size: 150% 120% !important;
    /* background-repeat: repeat; */
    box-shadow: none;
    background-position: 60% 160% !important;
}
.grad_4{
    filter: saturate(1.85) blur(0px) contrast(1.5) hue-rotate(1deg);
    transform: scale(1.25);
    background-image: url(line5.jpg) !important;
    background-size: 100% 120% !important;
    /* background-repeat: repeat; */
    box-shadow: none;
    background-position: 60% 160% !important;
}
.grad_2{
    filter: saturate(1.85) blur(1px);
    transform: scale(1.15);
    background-image: url(line1.png) !important;
    background-size: 120% 100% !important;
    background-repeat: repeat;
    box-shadow: none;
    border-radius: 50%;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.text_1{
    animation: moveBackground 10s linear infinite;
    background-image: url(text1.png) !important;
    background-size: auto 131% !important;
    background-position: 0px -1px;
    background-color: white !important;
    box-shadow: none !important
}

.blueoutline{
    box-shadow: inset 0px 0px 2px 0px #0076ff, 0px 0px 3px 3px #0076ff;
}
.elem_129{
  background-size: auto 100%;
}